<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: blkbutterfly74 -->
<!-- DateCreated: 2/8/2018 1:38:23 PM -->
<GameInfo>
	<Maps>
		<!-- for base game -->
		<Row Domain="StandardMaps" File="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean.lua" Name="LOC_CARIBBEAN_MAP_NAME" Description="LOC_CARIBBEAN_MAP_DESCRIPTION"/>
		
		<!-- for GS game -->
		<Row Domain="Maps:Expansion2Maps" File="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean_XP2.lua" Name="LOC_CARIBBEAN_MAP_NAME" Description="LOC_CARIBBEAN_MAP_DESCRIPTION"/>

		<!-- for Pirates -->
		<Row Domain="Maps:PiratesScenarioMaps" File="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean.lua" Name="LOC_CARIBBEAN_MAP_NAME" Description="LOC_CARIBBEAN_MAP_DESCRIPTION"/>
	</Maps>

	<DomainValueFilters>
		<Row Domain="Maps:Expansion2Maps" Value="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean.lua" Filter="difference"/>;
	</DomainValueFilters>

	<!-- advanced settings -->
	<Parameters>
		<Row Key1="Map" Key2="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean.lua" ParameterId="WorldAge" Name="LOC_MAP_WORLD_AGE_NAME" Description="LOC_MAP_WORLD_AGE_DESCRIPTION" Domain="WorldAge" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="world_age" GroupId="MapOptions" Hash="0" SortIndex="230"/>
		<Row Key1="Map" Key2="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean.lua" ParameterId="Rainfall" Name="LOC_MAP_RAINFALL_NAME" Description="LOC_MAP_RAINFALL_DESCRIPTION" Domain="Rainfall" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="rainfall" GroupId="MapOptions" Hash="0" SortIndex="250"/>
		<Row Key1="Map" Key2="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean_XP2.lua" ParameterId="WorldAge" Name="LOC_MAP_WORLD_AGE_NAME" Description="LOC_MAP_WORLD_AGE_DESCRIPTION" Domain="WorldAge" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="world_age" GroupId="MapOptions" Hash="0" SortIndex="230"/>
		<Row Key1="Map" Key2="{82E1F0F2-1DB8-4F0D-93FC-94125B592B3B}Maps/Caribbean_XP2.lua" ParameterId="Rainfall" Name="LOC_MAP_RAINFALL_NAME" Description="LOC_MAP_RAINFALL_DESCRIPTION" Domain="Rainfall" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="rainfall" GroupId="MapOptions" Hash="0" SortIndex="250"/>
	</Parameters>
</GameInfo>
